[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "INQC"]
	path = INQC
	url = https://github.com/indecis-project/inqc
	shallow = true
	registered = true
